In [113]:
# psycopg
import psycopg2
import pandas as pd
import numpy as np
import os

In [114]:
# csv file
csvfile = "Global_Landslide_Catalog_Export.csv"

In [115]:
# read csv file into pandas dataframe
df = pd.read_csv(csvfile)

In [116]:
# Create an engine to the postgres database
engine = create_engine("postgres://vyavhewrhtvpzj:807f060f51c5988773c3dcd6bd68b769cfe69d8826b5ec5dd17b28d1d4e3af9e@ec2-54-225-249-161.compute-1.amazonaws.com:5432/d9fsrm70s2042g")

In [117]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [118]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
data = df.to_dict(orient='records')
data[0]

{'adminname1': 'England',
 'adminname2': 'Cumbria',
 'cat_id': '1',
 'cat_src': 'glc',
 'changeset_id': 1.0,
 'continentcode': 'EU',
 'country': 'United Kingdom',
 'countrycode': 'GB',
 'countryname': 'United Kingdom',
 'date': '01/02/2007',
 'distance': 0.22405,
 'fatalities': '1',
 'geolocation': '(54.549399999999999, -3.5874999999999999)',
 'hazard_type': 'landslide',
 'id': '1',
 'injuries': nan,
 'key': 'sGaiIKdcW',
 'landslide_size': 'Medium',
 'landslide_type': 'Landslide',
 'latitude': 54.5494,
 'location_accuracy': 'Known_within_5_km',
 'location_description': nan,
 'longitude': -3.5875,
 'near': 'Whitehaven',
 'nearest_places': 'Whitehaven, Cumbria',
 'photos_link': nan,
 'population': '24,803',
 'source_link': 'http://www.timesonline.co.uk/tol/newspapers/sunday_times/britain/article1288510.ece',
 'source_name': 'The Times',
 'storm_name': nan,
 'time': nan,
 'trigger': 'Rain',
 'tstamp': 'Tue Apr 01 2014 00:00:00 GMT+0000 (UTC)',
 'version': 1.0}

In [119]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [120]:
# Create Engine and Pass in postgres Connection
engine = create_engine("postgres://vyavhewrhtvpzj:807f060f51c5988773c3dcd6bd68b769cfe69d8826b5ec5dd17b28d1d4e3af9e@ec2-54-225-249-161.compute-1.amazonaws.com:5432/d9fsrm70s2042g")

In [121]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [122]:
# Use `declarative_base` from SQLAlchemy to model the landslides table as an ORM class
Base = declarative_base()

class Landslides(Base):
    __tablename__ = 'landslides'

    id = Column(String, primary_key=True)
    date = Column(String)
    time = Column(String)
    country = Column(String)
    nearest_places = Column(String)
    hazard_type = Column(String)
    landslide_type = Column(String)
    trigger = Column(String)
    storm_name = Column(String)
    fatalities = Column(String)
    injuries = Column(String)
    source_name = Column(String)
    source_link = Column(String)
    location_description = Column(String)
    location_accuracy = Column(String)
    landslide_size = Column(String)
    photos_link = Column(String)
    cat_src = Column(String)
    cat_id = Column(String)
    countryname = Column(String)
    near = Column(String)
    distance = Column(Float)
    adminname1 = Column(String)
    adminname2 = Column(String)
    population = Column(String)
    countrycode = Column(String)
    continentcode = Column(String)
    key = Column(String)
    version = Column(String)
    tstamp = Column(String)
    changeset_id = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    geolocation = Column(String)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [123]:
# Use `create_all` to create the demographics table in the database
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

In [124]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [125]:
table = sqlalchemy.Table('landslides', metadata, autoload=True)

In [126]:
table

Table('landslides', MetaData(bind=Engine(postgres://vyavhewrhtvpzj:***@ec2-54-225-249-161.compute-1.amazonaws.com:5432/d9fsrm70s2042g)), Column('id', VARCHAR(), table=<landslides>, primary_key=True, nullable=False), Column('date', VARCHAR(), table=<landslides>), Column('time', VARCHAR(), table=<landslides>), Column('country', VARCHAR(), table=<landslides>), Column('nearest_places', VARCHAR(), table=<landslides>), Column('hazard_type', VARCHAR(), table=<landslides>), Column('landslide_type', VARCHAR(), table=<landslides>), Column('trigger', VARCHAR(), table=<landslides>), Column('storm_name', VARCHAR(), table=<landslides>), Column('fatalities', VARCHAR(), table=<landslides>), Column('injuries', VARCHAR(), table=<landslides>), Column('source_name', VARCHAR(), table=<landslides>), Column('source_link', VARCHAR(), table=<landslides>), Column('location_description', VARCHAR(), table=<landslides>), Column('location_accuracy', VARCHAR(), table=<landslides>), Column('landslide_size', VARCHAR(), table=<landslides>), Column('photos_link', VARCHAR(), table=<landslides>), Column('cat_src', VARCHAR(), table=<landslides>), Column('cat_id', VARCHAR(), table=<landslides>), Column('countryname', VARCHAR(), table=<landslides>), Column('near', VARCHAR(), table=<landslides>), Column('distance', DOUBLE_PRECISION(precision=53), table=<landslides>), Column('adminname1', VARCHAR(), table=<landslides>), Column('adminname2', VARCHAR(), table=<landslides>), Column('population', VARCHAR(), table=<landslides>), Column('countrycode', VARCHAR(), table=<landslides>), Column('continentcode', VARCHAR(), table=<landslides>), Column('key', VARCHAR(), table=<landslides>), Column('version', VARCHAR(), table=<landslides>), Column('tstamp', VARCHAR(), table=<landslides>), Column('changeset_id', VARCHAR(), table=<landslides>), Column('latitude', DOUBLE_PRECISION(precision=53), table=<landslides>), Column('longitude', DOUBLE_PRECISION(precision=53), table=<landslides>), Column('geolocation', VARCHAR(), table=<landslides>), schema=None)

In [127]:
# Use `table.delete()` to remove any existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
### BEGIN SOLUTION
conn.execute(table.delete())
### END SOLUTION

In [128]:
# Use `table.insert()` to insert the data into the table
### BEGIN SOLUTION
conn.execute(table.insert(), data)
### END SOLUTION

In [129]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from landslides limit 5").fetchall()

[('1', '01/02/2007', 'NaN', 'United Kingdom', 'Whitehaven, Cumbria', 'landslide', 'Landslide', 'Rain', 'NaN', '1', 'NaN', 'The Times', 'http://www.timesonline.co.uk/tol/newspapers/sunday_times/britain/article1288510.ece', 'NaN', 'Known_within_5_km', 'Medium', 'NaN', 'glc', '1', 'United Kingdom', 'Whitehaven', 0.22405, 'England', 'Cumbria', '24,803', 'GB', 'EU', 'sGaiIKdcW', '1.0', 'Tue Apr 01 2014 00:00:00 GMT+0000 (UTC)', '1.0', 54.5494, -3.5875, '(54.549399999999999, -3.5874999999999999)'),
 ('2', '01/03/2007', 'NaN', 'Peru', 'Alto Mesapata, in the Pasco province', 'landslide', 'Complex', 'Rain', 'NaN', 'NaN', 'NaN', 'My Opera', 'http://my.opera.com/bibberle/blog/index.dml/tag/Landslide', 'NaN', 'Unknown', 'Medium', 'NaN', 'glc', '2', 'Peru', 'Huancabamba', 12.26171, 'Pasco', 'Provincia de Oxapampa', '0', 'PE', 'SA', 'S95OsumK4', '1.0', 'Tue Apr 01 2014 00:00:00 GMT+0000 (UTC)', '1.0', -10.3838, -75.4267, '(-10.383800000000001, -75.426699999999997)'),
 ('3', '01/05/2007', 'NaN', 'Brazil', 'Nova Friburgo, Rio de Janeiro', 'landslide', 'Landslide', 'Rain', 'NaN', '7', 'NaN', 'Deutsche Presse-Agentur - MonstersandCritics', 'http://news.monstersandcritics.com/americas/news/article_1240141.php/Rain_leaves_at_least_20_people_dead_in_Brazil', 'NaN', 'Known_within_25_km', 'Large', 'NaN', 'glc', '3', 'Brazil', 'Nova Friburgo', 0.63016, 'Rio de Janeiro', 'Nova Friburgo', '153,361', 'BR', 'SA', 'D5vlNdgB7', '1.0', 'Tue Apr 01 2014 00:00:00 GMT+0000 (UTC)', '1.0', -22.28234635, -42.53636205, '(-22.282346350000001, -42.536362050000001)'),
 ('4', '01/05/2007', 'NaN', 'Brazil', 'Sumidouro, Rio de Janeiro', 'landslide', 'Landslide', 'Rain', 'NaN', '2', 'NaN', 'Deutsche Presse-Agentur - MonstersandCritics', 'http://news.monstersandcritics.com/americas/news/article_1240141.php/Rain_leaves_at_least_20_people_dead_in_Brazil', 'NaN', 'Known_within_10_km', 'Medium', 'NaN', 'glc', '4', 'Brazil', 'Carmo', 14.05144, 'Rio de Janeiro', 'Carmo', '11,555', 'BR', 'SA', 'h5J8IFdc4', '1.0', 'Tue Apr 01 2014 00:00:00 GMT+0000 (UTC)', '1.0', -22.0452, -42.6734, '(-22.045200000000001, -42.673400000000001)'),
 ('5', '01/05/2007', 'NaN', 'Brazil', 'Jundiai, Sao Paulo', 'landslide', 'Landslide', 'Rain', 'NaN', '1', 'NaN', 'Deutsche Presse-Agentur - MonstersandCritics', 'http://news.monstersandcritics.com/americas/news/article_1240141.php/Rain_leaves_at_least_20_people_dead_in_Brazil', 'NaN', 'Known_within_50_km', 'Medium', 'NaN', 'glc', '5', 'Brazil', 'Mairipor√£', 10.07582, 'S√£o Paulo', 'Mairipor√£', '54,415', 'BR', 'SA', 's5Zb5FdB4', '1.0', 'Tue Apr 01 2014 00:00:00 GMT+0000 (UTC)', '1.0', -23.2311, -46.6136, '(-23.231100000000001, -46.613599999999998)')]